{% extends 'backend/base.html' %}
{% load static %}

{% block title %}Customer Balances - MyPanel{% endblock %}

{% block custom_css %}
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">

<style>
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Admin School Dashboard</h1>
</div>
{% endblock content %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>


{% endblock %}